@{
    ViewBag.Title = "Home Page";
}


<center> <h1>Welcome to Zero Hunger NGO</h1></center><hr />

<table class="table">
    
    <tbody>
        <tr>
            <td class="text-center">
             <h4>NGOADMIN LOGIN PORTAL </h4>
            <a href="/NGOAdmin/NGOAdminLogin" class="btn btn-primary btn-lg btn-block mb-3">NGO ADMIN LOGIN</a>
            </td>
           
           
            <td class="text-center">
                <h4>IF YOU ARE NGO EMPLOYEE CLICK HERE </h4>
                <a href="/Employee/EmployeeLogin" class="btn btn-primary btn-lg btn-block mb-3k">Employee</a>
            </td>
        </tr>
        <tr>
            <td colspan="2" class="text-center">
                <h5>
                    IF YOU WANT TO DONATE FOOD CLICK HERE</h5>

                    <a href="/RestruentDonar/RestruentDonarSignUp" class="btn btn-primary"> Donate Food</a>
</td>
        </tr>
    </tbody>
</table>`